{% extends "base.html" %}
{% block main %}
<div class="contact-form">
    <h1>Contact Form</h1>
    <p>Fill in this form to contact the site owners.</p>
    
    <form method="POST">
        {{ form.csrf_token }}
        
        <div class="form-group">
            <label for="{{ form.name.id }}" class="form-label">
                {{ form.name.label }}
                <span class="text-danger">(Required)</span>
            </label><br>
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id }}" class="form-label">
                {{ form.email.label }}
                <span class="text-danger">(Required)</span>
            </label><br>
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.subject.id }}" class="form-label">
                {{ form.subject.label }}
                <span class="text-danger">(Required)</span>
            </label><br>
            {{ form.subject(class="form-control") }}
            {% for error in form.subject.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.message.id }}" class="form-label">
                {{ form.message.label }}
                <span class="text-danger">(Required)</span>
            </label><br>
            {{ form.message(rows=5, class="form-control") }}
            {% for error in form.message.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
